*{
    padding: 0px;
    margin: 0px;
}

/* font-css */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.color-white{
    color: #FFFFFF;
}
.color-green{
    color: #30B868;
}


/* main-style */


/* Navigation-Bar */
#navbar{
    /* border: 1px solid red; */
    width:1600px ;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#logo-navbar{
    margin-left: 120px;
    margin-right: 345px;
}
.menu{
    margin-right: 300px;
}
.menue a{
    font-size: 16px;
    font-weight: 500px;
    line-height: 152%;
    margin-right: 32px;
    text-decoration: none;
    color: #000000;
}
#navbar button{
    margin-right: 120px;
}
.btn{
    width: 164px;
    height: 44px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #469165;
    
}
.btn a{
    text-decoration: none;
    color: #FFFFFF;
}
.btn:hover{
    cursor: pointer;
}


/* hero */
.hero-image{
    /* border: 1px solid red; */
    background-image: url(../images/hero-bg.png);
    width: 1600px;
    height: 674px;
    align-content: center;
    justify-content: center;
}
.hero-content{
    text-align: center;
}
.hero-content h1{
    font-size: 72px;
    font-weight: 700px;
}
.hero-content p{
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
}
#open-now-btn{
    /* border: 1px solid red; */
    background-color: #FFFFFF;
    color: #469165;
    width: 229px;
    height: 35px;
    border: none;
    border-radius: 1000px;
}
#open-now-btn:hover{
    cursor: pointer;
}
.bttn{
    margin-top: 32px;
    margin-right: 16px;
    color: #FFFFFF;
    background-color: #30B868;
    width: 251px;
    height: 52px;
    border: none;
    border-radius: 4px;
}
.bttn:hover{
    cursor: pointer;
}
.bttn a{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
}
.batn{
    width: 198px;
    height: 52px;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid #ffffffa9;
    border-radius: 4px;
}
.batn a{
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
}
.batn:hover{
    cursor: pointer;
}

/* Cards */

#cards{
    width: 1600px;
    height: 448px;
    justify-items: center;
}

#cards .pre-card-text h2{
    font-size: 48px;
    color: #001931;
    text-align: center;
    padding-bottom: 2px;
    margin-top: 80px;
}
#cards .pre-card-text p{
    text-align: center;
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 44px;
}
.card-container{
    display: flex;
    gap: 24px;
}
.card{
    /* border: 1px solid red; */
    justify-items: center;
    height: 322px;
    width: 300px;
    margin-bottom: 120px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
.card h3{
    font-size: 24px;
    font-weight: 600px;
    color: #001931;
    text-align: center;
}
.card p{
    font-size: 16px;
    line-height: 20px;
}
.card-img{
    /* border: 1px solid red; */
    display: flex;
    border-radius: 1000000000px;
    background-color: #F95555;
    justify-content: center;
    align-items: center;
    margin-top: 69.5px;
    margin-bottom: 16px;
    width: 60px;
    height: 60px;
}

/* Second-Brain */
#second-brain{
    /* border:  1px solid red; */
    height: 840px;
    width: 1600px;
    display: flex;
    gap: 60px;
}
.brain{
    width: 1360px;
    height: 600px;
    display: flex;
    gap: 60px;
    padding: 120px;
}
.image{
    /* border: 1px solid red; */
    padding-left: 120px;
    border-radius: 12px;
    width: 600px;
    height: 600px;
    background-image: url(../images/knowledge.png);
}
 .second-brain-content{
     /* border:  1px solid red; */
    width: 1000px;
    height: 379px;
    margin-top: 101.5px;
    flex-wrap: wrap;
 }
#the-solution{
    line-height: 20px;
    font-size: 16px;
    font-weight: 500px;
    color: #469165;
    margin-bottom: 16px;
}
.second-brain-content h2{
    font-size: 48px;
    font-weight: 600px;
    color: #001931;
}
#second-brain-paragraph{
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 40px;
    color: #627382;
}
.check-list{

    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 16px;
}
.check-list img{
    width: 20px;
    height: 20px;
}

/* ready-to-think-more-clearly */

#ready-to-think-more-clearly{
    background-color: #F7F6F2;
    /* border: 1px solid red; */
    border-radius: 12px;
    margin-left: 120px;
    margin-bottom: 120px;
    width: 1360px;
    height: 385px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ready-to-think-more-clearly h2{
    font-size: 40px;
    font-weight: 600px;
    color: #001931;
    text-align: center;
    margin-bottom: 16px;
}
#ready-to-think-more-clearly p{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}
#ready-to-think-more-clearly button{
    margin-bottom: 16px;
    text-align: center;
}

/* footer-section */

#foot-btn{

    text-align: center;
    box-shadow: none;

}
.shadow{
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.185);
}
footer{
    width: 1600px;
    height: 348px;
    background-color: #001931;
    align-items: center;
    justify-items: center;
}
.footer-logo-icons{
    display: flex;
    align-items: center;
}
#footer-main{
    /* border: 1px solid red; */
    display: flex;
    width: 1360px;
    height: 64px;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 80px;
}
#foot-icons{
    padding-right: 107px;
}
.foot-text{
    /* border: 1px solid red; */
    margin-top: 30px;
    text-align: center;  
}
#foot-icons a{
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 16px;
    margin-right: 16px;
}
#foot-icons p{
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}
hr{
    color: #fafafa9a;
}
.foot-text{
    color: #FAFAFA;
    font-size: 16px;
    line-height: 24px;
}
.foot-logo{
    /* border: 1px solid red; */
    height: 139px;
    width: 60px;
}