*{
    padding: 0px;
    margin: 0px;
}

/* font-css */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.color-white{
    color: #FFFFFF;
}
.color-green{
    color: #30B868;
}


/* main-style */


/* Navigation-Bar */
#navbar{
    /* border: 1px solid red; */
    width:1600px ;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#logo-navbar{
    margin-left: 120px;
    margin-right: 345px;
}
.menue{
    margin-right: 300px;
}
.menue a{
    font-size: 16px;
    font-weight: 500px;
    line-height: 152%;
    margin-right: 32px;
    text-decoration: none;
    color: #000000;
}
#navbar button{
    margin-right: 120px;
}
.btn{
    width: 164px;
    height: 44px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #469165;
    
}
.btn a{
    text-decoration: none;
    color: #FFFFFF;
}
.btn:hover{
    cursor: pointer;
}


/* hero */
.hero-image{
    /* border: 1px solid red; */
    background-image: url(../images/hero-bg.png);
    width: 1600px;
    height: 674px;
    align-content: center;
    justify-content: center;
}
.hero-content{
    text-align: center;
}
.hero-content h1{
    font-size: 72px;
    font-weight: 700px;
}
.hero-content p{
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
}
#open-now-btn{
    /* border: 1px solid red; */
    background-color: #FFFFFF;
    color: #469165;
    width: 229px;
    height: 35px;
    border: none;
    border-radius: 1000px;
}
#open-now-btn:hover{
    cursor: pointer;
}
.bttn{
    margin-top: 32px;
    margin-right: 16px;
    color: #FFFFFF;
    background-color: #30B868;
    width: 251px;
    height: 52px;
    border: none;
    border-radius: 4px;
}
.bttn:hover{
    cursor: pointer;
}
.bttn a{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
}
.batn{
    width: 198px;
    height: 52px;
    background-color: none;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}
.batn a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
.batn:hover{
    cursor: pointer;
}
