*{
    padding: 0px;
    margin: 0px;
}

/* font-css */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* main-style */


/* Navigation-Bar */
#navbar{
    border: 1px solid red;
    width:1600px ;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#logo-navbar{
    margin-left: 120px;
    margin-right: 345px;
}
.menue{
    margin-right: 300px;
}
.menue a{
    font-size: 16px;
    font-weight: 500px;
    line-height: 152%;
    margin-right: 32px;
    text-decoration: none;
    color: #000000;
}
#navbar button{
    margin-right: 120px;
}
.btn{
    width: 164px;
    height: 44px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #469165;
    
}
.btn a{
    text-decoration: none;
    color: #FFFFFF;
}
.btn:hover{
    cursor: pointer;
}


/* hero */

